html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root{
  height: 100vh;
  margin: 0;
}

body, input, select, textarea{
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
}

.grid-container{
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 1fr;
  height: 100%;
}


header{
  grid-area: header;
  background-color: #000000;
  color: #ffffff;

  padding: 15px;

  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 5px #f70131 solid;
}
a {
  text-decoration: none;
}

a:hover{
  color: #4f4f4f;
  transition: 0.5s;
}

header a{
  color: #fff;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}